:root {
  --primary-color: #FF2C2C;
  --secondary-color: #2ecc71;
  --text-color: black;
  --background-color: #ffffff;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--primary-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer ul li a:hover {
  border-bottom: 3px solid white;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.copyright {
  display: block;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  color: white;
}