:root {
  --primary-color: #FF2C2C;
  --text-color: black;
  --background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

[class*="col-"] {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

@media only screen and (min-width: 768px) {

  .col-md-1 {
    width: calc(100% * 1 / 12);
  }

  .col-md-2 {
    width: calc(100% * 2 / 12);
  }

  .col-md-3 {
    width: calc(100% * 3 / 12);
  }

  .col-md-4 {
    width: calc(100% * 4 / 12);
  }

  .col-md-5 {
    width: calc(100% * 5 / 12);
  }

  .col-md-6 {
    width: calc(100% * 6 / 12);
  }

  .col-md-7 {
    width: calc(100% * 7 / 12);
  }

  .col-md-8 {
    width: calc(100% * 8 / 12);
  }

  .col-md-9 {
    width: calc(100% * 9 / 12);
  }

  .col-md-10 {
    width: calc(100% * 10 / 12);
  }

  .col-md-11 {
    width: calc(100% * 11 / 12);
  }

  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {

  .col-lg-1 {
    width: calc(100% * 1 / 12);
  }

  .col-lg-2 {
    width: calc(100% * 2 / 12);
  }

  .col-lg-3 {
    width: calc(100% * 3 / 12);
  }

  .col-lg-4 {
    width: calc(100% * 4 / 12);
  }

  .col-lg-5 {
    width: calc(100% * 5 / 12);
  }

  .col-lg-6 {
    width: calc(100% * 6 / 12);
  }

  .col-lg-7 {
    width: calc(100% * 7 / 12);
  }

  .col-lg-8 {
    width: calc(100% * 8 / 12);
  }

  .col-lg-9 {
    width: calc(100% * 9 / 12);
  }

  .col-lg-10 {
    width: calc(100% * 10 / 12);
  }

  .col-lg-11 {
    width: calc(100% * 11 / 12);
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    flex-direction: column;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px;
  }

  .logo {
    font-size: 18px;
  }
  
  #menu-icon {
    display: block;
    font-size: 24px;
    color: var(--primary-color);
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 24px;
    background: var(--primary-color);
    border-top: 2px solid rgba(0, 0, 0, 0.105);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  #fadeshow {
    display: none;
  }
}